textarea {
	font-size: 80%;
}

label {
	clear : both;
}

.col {
	float : left;
	margin : 3px;
	height : auto;
}

.box {
	border: 2px dotted #CCCCCC;
	font-size: 107%;
	line-height: 130%;
	padding: 3px;
	width: 400px;
	height : 400px;
	overflow : auto;
}

#connected_clients {
	font-size: 80%;
	line-height: 130%;
	padding: 3px;
	height : auto;
	width: auto;
}	
